com/chenyuanyuan23/frameworks/TXLiteAVSDK_Player.xcframework/ios-arm64_armv7/TXLiteAVSDK_Player.framework/TXLiteAVSDK_Player filter=lfs diff=lfs merge=lfs -text
com/chenyuanyuan23/frameworks/TXLiteAVSDK_Player.xcframework/ios-arm64_x86_64-simulator/TXLiteAVSDK_Player.framework/TXLiteAVSDK_Player filter=lfs diff=lfs merge=lfs -text
*TXLiteAVSDK_Player filter=lfs diff=lfs merge=lfs -text
